.hero{
    background: var(--gradient-hero);
    padding: 1em; /* top & horizontal padding */
    border-radius: 0 0 var(--radius-16) var(--radius-16);  
    overflow: hidden;
  
    
}

.hero * {
  margin: 0;
}

.hero-content{
    display:flex;
    flex-direction:column;
    align-items: center;
    align-items:center;
   
   
   

    }
    .hero-flex{
       display:grid;
         grid-template-columns: 1fr;
        gap:2rem;
    }

.logo_hero{
    width:65px;
    height:auto;
    margin-bottom:var(--spacing-300);;
    align-self:center;
}

.title_hero{
    font:var(--font-2);
    color:var(--color-blue-900);
    line-height:var(--lh-heading);
    margin-bottom:var(--spacing-300);
    text-align:center;

}

.hero-content p{
   font:var(--font-6);
   line-height:var(--lh-body);
    color:var(--color-grey-500);
    margin-bottom:var(--spacing-300);
    text-align:center;
}


