:root {
  /* ================= COLORS ================= */
  --color-grey-500: #5E6E85;
  --color-grey-300: #ACC1DE;
  --color-blue-900: #253347;
  --color-blue-500: #345FF6;
  --color-blue-300: #B3D3F1;
  --color-blue-100: #E1E7FE;
  --color-white: #FFFFFF;
  --color-red-500: #FF4C4C;
  --borders: #d8e2e7;
  --color_subtitles:#253347;
  --active: #275EFE;
  --border: #BBC1E1;
  --color-icons_background:#f3f7fc;
  /* Gradient */
  --gradient-hero:linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
  --gradient-icons:linear-gradient(90deg, #345ff7 0%, #587dff 100%);
  /* ================= BREAKPOINTS ================= */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
  /* ================= TYPOGRAPHY ================= */
  /* Font family */
  --ff-base: "Inter", sans-serif;
  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  /* ================= FONT SIZES (CLAMP) ================= */
  /* H1 */
  --fs-heading-xl: clamp(2.5rem, 1.5rem + 2vw, 4rem);
  /* H2 */
  --fs-heading-lg: clamp(1.75rem, 1.2rem + 1.5vw, 3rem);
  /* H3 */
  --fs-heading-md: clamp(1.25rem, 1rem + 1vw, 1.5rem);
  /* Body */
  --fs-body: clamp(0.95rem, 0.85rem + 0.3vw, 1rem);
  /* Body large */
  --fs-body-lg: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  /* Small text */
  --fs-body-lg: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  --fs-body-sm: clamp(0.875rem, 0.8rem + 0.4vw, 1rem);
  --fs-small: clamp(0.8rem, 0.75rem + 0.2vw, 0.875rem);
  /* Line heights */
  --lh-heading: 1.1;
  --lh-body: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

/* Make images easier to work with */
img,
picture,
video, canvas,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--ff-base);
  min-height: 100vh;
  line-height: var(--lh-body);
  font-size: var(--fs-body);
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: Center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.main-content {
  position: relative;
}

.hero {
  background: var(--gradient-hero);
  padding: 2em; /* top & horizontal padding */
  padding-bottom: 15em; /* keeps your big bottom space */
  border-radius: 0 0 2.1875rem 2.1875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* center content horizontally */
}

.hero * {
  margin: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_hero {
  width: 65px;
  height: auto;
  margin-bottom: 1rem;
  align-self: center;
}

.title_hero {
  font-size: var(--fs-heading-xl);
  line-height: var(--lh-heading);
  font-weight: var(--fw-semibold);
  color: var(--color-blue-900);
  margin-bottom: 1rem;
  text-align: center;
}

.hero-content p {
  font-size: var(--fs-body-lg);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
  margin-bottom: 2rem;
  text-align: center;
}

.article-section {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 12em;
  background: var(--color-white);
}

.article-section__second {
  padding: 2em;
  display: fle;
  flex-direction: column;
  align-items: center;
  gap: 3.5em;
  margin-top: 3em;
}

.article-section-text {
  padding: 2em;
}

.article-section-title {
  font-size: var(--fs-heading-lg);
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
  color: var(--color-blue-900);
  letter-spacing: 0.029em;
  text-align: center;
}

.article-section-title__second {
  font-size: var(--fs-heading-xl);
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
  color: var(--color-blue-900);
  letter-spacing: 0.029em;
  text-align: center;
  margin-bottom: 1em;
}

.article-section-content p {
  font-size: var(--fs-body-lg);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
  text-align: center;
  margin-top: 1em;
}

.article-section-description__second {
  font-size: var(--fs-body-lg);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
  text-align: center;
}

.article-section-image-wrapper {
  margin-top: 3em;
}

.last-grid {
  display: grid;
  gap: 2em;
  margin-top: 2em;
}

.last-icon {
  width: 50px;
}

.last-wrapperImage_title {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: left;
  align-items: center;
  margin-bottom: 1em;
}

.last-title {
  font-size: var(--fs-body-lg);
  line-height: var(--lh-body);
  color: var(--color-blue-900);
  font-weight: var(--fw-bold);
}

.last-wrapper {
  background: var(--color-white);
  padding: 2em;
  border-radius: 0.5rem;
  box-shadow: 1rem 2rem 3.5rem rgba(143, 174, 207, 0.25);
}

.last-wrapper:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.middle-grid {
  background-color: var(--color-icons_background);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.middle-icon {
  width: 65px;
}

.middle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.middle-wrapperImage_title {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: left;
}

.middle-title {
  font-size: var(--fs-heading-md);
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
  color: var(--color-blue-900);
  letter-spacing: 0.029em;
}

.middle-text {
  font-size: var(--fs-body-lg);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
  font-weight: var(--fw-regular);
  text-align: left;
}

.bmi-calculation {
  background: var(--color-white);
  padding: 2em;
  box-shadow: 1rem 2rem 3.5rem rgba(143, 174, 207, 0.25);
  width: 90%; /* mobile first */
  margin-top: 2rem; /* spacing below hero paragraph */
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.metric-input-wrapper {
  display: flex;
  align-items: center; /* center horizontally */
  width: 100%; /* take full width of form-group */
}

.metric-input-wrapper input {
  width: 100%;
}

.imperial-height-inputs {
  width: 100%;
}

.error {
  color: var(--color-red-500);
  font-size: var(--fs-body-sm);
  margin-top: 0.25rem;
}

.bmi-title {
  font-size: var(--fs-heading-lg);
  line-height: var(--lh-heading);
  font-weight: var(--fw-semibold);
  color: var(--color-blue-900);
  margin-bottom: 1.5rem;
  text-align: center;
}

.bmi-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.metric_imperial_choice {
  display: flex;
  justify-content: space-between;
}

.radio_metric,
.radio_imperial {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: var(--fw-semibold);
  color: black;
}

.label_weight_metric,
.label_height_metric {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  font-weight: var(--fw-semibold);
  color: var(--color_subtitles);
}

#weight,
#height {
  margin-top: 1em;
  padding: 1.2em;
}

.label_height {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
}

.form-group input {
  padding: 0.5em;
  border: 1px solid var(--color-grey-300);
  border-radius: 0.25rem;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  flex-grow: 1;
  min-width: 0;
}

.bmi-form button {
  padding: 0.75em;
  background-color: var(--color-blue-500);
  color: var(--color-white);
  border: 1px solid var(--color-blue-500);
  border-radius: 0.25rem;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  width: 100%; /* Or auto */
  cursor: pointer;
}

.bmi-form button:hover {
  opacity: 0.5;
}

.bmi-result {
  background-color: var(--color-blue-100);
  color: var(--color-blue-900);
  padding: 2em;
}

/* Base radio button */
input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid var(--color-grey-300);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: white; /* keep it visible */
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Hover effect: subtle blue border */
input[type=radio]:hover {
  border-color: var(--color-blue-500);
}

/* Focus effect: light blue shadow */
input[type=radio]:focus {
  outline: none;
  box-shadow: inset 0 0 0 6px rgba(0, 123, 255, 0.3);
}

/* Inner dot when checked */
input[type=radio]:checked::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-blue-500);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=radio]:checked:focus::after {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.radio_metric {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
}

.radio_imperial {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
}

.imperial-weight-inputs,
.imperial-height-inputs {
  display: flex;
  gap: 0.5em; /* space between stones/pounds or feet/inches */
}

.imperial-weight-inputs input,
.imperial-height-inputs input {
  flex: 1; /* both inputs share space equally */
  min-width: 0; /* prevent inputs from growing too wide */
  padding: 0.5em;
}

.label_height_metric {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-grey-500);
}

@media only screen and (min-width: 650px) {
  .article-section-content {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.5em;
  }
  .article-section-text p {
    font-size: var(--fs-body-sm);
  }
  .article-section-image-wrapper {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; /* keeps proportions nice */
    border-radius: 1rem; /* optional */
    object-fit: cover;
    flex: 1;
  }
  .article-section-text {
    flex: 1;
  }
  .article-section-content p {
    text-align: left;
  }
  .last-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .middle-wrapper {
    display: flex;
    gap: 2rem;
    align-items: stretch;
    flex-direction: row;
  }
  .middle-icon {
    width: 90px;
    flex-shrink: 0;
  }
  .middle-content {
    flex: 1;
  }
  .middle-title {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 1008px) {
  .hero {
    padding: 6em;
    padding-bottom: 5em;
    background: transparent;
    position: relative;
  }
  .hero::before {
    content: "";
    position: absolute;
    max-width: 60.125rem;
    width: 100%;
    min-height: 40rem;
    left: 0;
    top: 0;
    background: linear-gradient(290.1deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 0 0 2.1875rem 2.1875rem;
    z-index: -1;
  }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -2; /* sits behind gradient */
  }
  .hero-content p {
    text-align: left;
  }
  .bmi-form {
    padding: 1em;
  }
  .bmi-calculation {
    top: -14%;
    max-width: 500px;
    left: 75%;
  }
  .bmi-form button {
    margin-top: auto;
  }
  .hero-content {
    gap: 2em;
    align-items: flex-start;
    width: 50%;
  }
  .article-section {
    margin-top: 6em;
  }
  .article-section-content {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
  }
  .article-section-content p {
    font-size: var(--fs-body-lg);
  }
  .article-section-image-wrapper {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; /* keeps proportions nice */
    border-radius: 1rem; /* optional */
    object-fit: cover;
    flex: 1;
  }
  .article-section-text {
    flex: 1;
  }
  .article-section-content p {
    text-align: left;
  }
  .last-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .article-section-description__second {
    margin-bottom: 1.5em;
  }
  .middle-grid {
    background-color: var(--color-icons_background);
    padding: 8em;
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    gap: 2.5em;
    margin-top: 3em;
  }
  .middle-icon {
    width: 50px;
  }
  .middle-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1200px) {
  .hero::before {
    max-width: 70.125rem;
    min-height: 70rem;
  }
  .article-section-description__second {
    font-size: var(--fs-body-lg);
    line-height: var(--lh-body);
    color: var(--color-grey-500);
    text-align: left;
    margin-top: 1em;
  }
  /* MAIN GRID */
  .article-section__second {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 2rem;
  }
  .last-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  /* TITLE */
  .article-section__second-wrapper {
    grid-column: 1/3;
    grid-row: 1;
  }
  /* FLATTEN GRID */
  .last-grid {
    display: contents;
  }
  /* CARD 1 (top right big) */
  .article-section__second .last-wrapper:nth-child(1) {
    grid-column: 3/5;
    grid-row: 1;
  }
  /* ROW 2 (centered) */
  .article-section__second .last-wrapper:nth-child(2) {
    grid-column: 3/4;
    grid-row: 2;
  }
  .article-section__second .last-wrapper:nth-child(3) {
    grid-column: 4/5;
    grid-row: 2;
  }
  /* ROW 3 (shifted right) */
  .article-section__second .last-wrapper:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3;
  }
  .article-section__second .last-wrapper:nth-child(5) {
    grid-column: 3/4;
    grid-row: 3;
  }
}/*# sourceMappingURL=index.css.map */